{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}

    <h1>Create new Note</h1>
    <form name="note" method="post">
        <div id="note">
            <div>
                <label for="note_title" class="required">Title</label>
                <input type="text" id="note_title" name="form[title]" required="required" maxlength="255" />
            </div>
            <div>
                <label for="note_description">Description</label>
                <textarea id="note_description" name="form[description]"></textarea>
            </div>
        </div>
        <button class="btn">Save</button>
    </form>
    <a href="{{ path('note_index') }}">back to list</a>
    </body>

{% endblock %}
